@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(35, 54, 71);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  color: aliceblue;
}

.title {
  margin: 10px 0 0;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.container img {
  object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
}

button {
  background-color: rgb(147, 201, 248);
  color: rgb(58, 57, 57);
  border: none;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: .65rem;
}

button:hover {
  background-color: rgb(65, 129, 185);
  color: aliceblue;
  font-weight: bolder;
}

button:focus {
  outline: none;
  background-color: rgb(46, 91, 131);
}