@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right,#1DA1F2 ,#ff0000c5,#3b5998);
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

i {
  box-shadow: 8px 2px 8px rgba(245, 245, 245, 0.075);
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}